
body {
    background-color: black;
}


.main {
    display: flex;
    align-items: stretch;
}

.sections {
    width: 10%;
    height:700px;
    margin: 5% 0;
    padding: 30px;
    border-width: thin;
    text-align: center;
}

.section-1 {
    flex:1;
    background-color:#D1CFC5;
}


.section-2 {
    flex:1;
    background-color: #B46E52;
}


.section-3 {
    flex:1;
    background-color:#393B45;
}


.section-4 {
    flex:1;
    background-color: #5F6263;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: 'Fondamento', cursive;
    font-size: 3em;
    position: static;
}

#p-in-h1 {
    color: rgb(0, 0, 0);
    font-family: 'Fondamento', cursive;
    font-size: 2em;
}

h2 {
    color: whitesmoke;
    display: block;
    font-size: 1.2em;
    ffont-family: 'Fondamento', cursive;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

p {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Fondamento', cursive;
}

img {
    width: 300px;
    height: 300px;
    position: relative;
}

.tangerine-img {
    width: 250px;
    height: 300px;
    border: white solid;
    position: relative;
}

.lightpole-img {
    width: 200px;
    height: 300px;
    position: relative;
}
.eye-pic {
    width: 250px;
    height: 300px;
    border: white solid;
    position: relative;
}

.building-img {
    width: 250px;
    height: 300px;
    border: white solid;
    position: relative;
}

.topnav {
    background-color: rgba(51, 51, 51, 0);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #B46E52;
    color: white;
}